@font-face {
	font-family: 'LatoBlack';
	src: url("./Lato-Black.woff2") format("woff2"),
			 url("./Lato-Black.woff") format("woff"),
			 url('./Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoBold';
	src: url("./Lato-Bold.woff2") format("woff2"),
			 url("./Lato-Bold.woff") format("woff"),
	   	 url('./Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoMedium';
	src: url("./Lato-Medium.woff2") format("woff2"),
			 url("./Lato-Medium.woff") format("woff"),
			 url('./Lato-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'LatoRegular';
	src: url("./Lato-Regular.woff2") format("woff2"),
			 url("./Lato-Regular.woff") format("woff"),
			 url('./Lato-Regular.ttf') format('truetype');
}

